.App {
  font-family: lato;
}

.Tree {
  border: solid black;
}

.node-tree {
  display: flex;
  height: 50px;
}

.node-container {
  border: 1px solid; 
  display: flex; 
  align-items: center; 
  padding-right: 40px;
  border: 1px solid #bbb;
  border-left: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px -2px;
}

.node-img {
  display: flex;
  background: #f4f7fa;
  border: 1px solid #aaa;
  border-radius: 1px;
  box-shadow: 0 2px 2px -2px;
  height: 100%;
  justify-content: center;
  width: 44px;
  z-index: 1;
  align-items: center;
}

.node-content {
  margin-left: 10px;
  align-items: center;
    background-color: #fff;
    border: 1px solid #bbb;
    border-left: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px;
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    justify-content: space-between;
    /* min-width: 230px; */
    padding: 0 0 0 10px;
    position: relative;
    left: 10px;
}
.node-title {
  display: block;
  font-size: 85%;
  height: 0.8rem;
  padding-top: 4px;
}

.node-subtitle {
  font-size: 70%;
  line-height: 1;
}

.btn {
  border-radius: 50%;
}